.filter-form {
    width: 100%;
    background-color: rgba(144, 215, 236, .1);
    &>form{
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;
    }
    .two-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}